# Create .gitignore with media files
@"
*.mp4
*.avi
*.mov
*.mkv
*.wmv
*.flv
*.webm
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.webp
videos/
images/
pics/
git ls-files | findstr assets
sprites/
"@ | Out-File -FilePath .gitignore -Encoding utf8